@import url('normalize.css');

@font-face {
    font-family: Roboto;
    src:url('../src/fonts/Roboto-Regular.ttf');
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

.container{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.logo{
    margin-bottom: 40px;
    display: inline-block;
    font-size: 80px;
    line-height: 94px;
    text-decoration: none;
    color: #000;
}

.header{
    margin-top: 63px;
}

.quetes{
    color: #4BCAFF;
}

.navigation{
    display: flex;
    justify-content: center;  
}

.navigation__list{
    display: flex;
    gap: 1px;
    justify-content: center;
    list-style-type: none;
}

.navigation__item{
    background: #35444F;
    height: 69px;
}

.navigation__item:first-child, .navigation__item:last-child{
    width: 149px;
}

.navigation__link{
    display: inline-block;
    height: 100%;
    text-decoration: none;
    font-size: 24px;
    padding: 0 36px;
    display: flex;
    align-items: center;
    color: #fff;
    transition: 0.4s;
}

.navigation__link:hover{
    background: #222F3A;
    transition: 0.4s;
    
}

.about-company{
    margin-top: 50px;
}

.about-company__menu{
    width: 344px;
    border: 1px solid #000;
    height: 407px;
}

.about-company__link{
    display: block;
    width: 100%;
    color: #495863;
    font-size: 27px;
    line-height: 1;
    padding: 27px 0;
    padding-left: 42px;
    text-decoration: none;
    transition: 0.5s;
}

.about-company__link:hover{
    background: #DBDBDB;
    color: #000;
    transition: 0.5s;
    padding-left: 80px;
}

.about-company__body{
    display: flex;
    justify-content: space-between;
}

.about-company__content{
    width: 69%;
}

.about-company__media{
    width: 100%;
    height: 529px;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.about-company__media img{
    transition: 0.5s;
    width: 320px;
}

.about-company__media:hover img{
    width: 350px;
    
}

.about-company__info{
    display: flex;
    flex-direction: column;
    gap: 34px;
    padding-top: 37px;
    padding-bottom: 54px;
}

.about-company__text{
    font-size: 18px;
    line-height: 24px;
}

.footer{
    margin-bottom: 30px;
}

.footer__body{
    display: flex;
    justify-content: space-between;
    background: rgba(99, 105, 110, 0.48);
    padding: 0 40px;
    align-items: center;
}

.footer__navigation{
    width: 875px;
}

.footer__list{
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.footer__link{
    font-size: 28px;
    text-decoration: none;
    color: #0C1927;
    gap: 1px;
    list-style-type: none;
    padding: 13px 0;
    margin: 8px 0;
    display: block;
}

.footer__link:hover{
    color: #3181A6;
    border-bottom: 1px solid #3181A6;
}

.footer__copyright{
    font-size: 24px;
    color: #010101;
}
